DB_AUTH_MODE=sql
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=Nutrimejor
DB_USER=sa
DB_PASSWORD=CambiaEstaClave123!
DB_ENCRYPT=false
DB_TRUST_CERTIFICATE=true
JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_64_CARACTERES_ALEATORIOS
NEXT_PUBLIC_APP_URL=http://localhost:3000
