PORT=3000
NODE_ENV=development
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=Nutrimejor
DB_USER=sa
DB_PASSWORD=CAMBIAR_ESTA_CLAVE
DB_ENCRYPT=false
DB_TRUST_CERTIFICATE=true
JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_ALEATORIA_DE_64_CARACTERES
