DEPLOY_ENVIRONMENT=production
IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=ruben-d55
IMAGE_TAG=v0.10.0
APP_DOMAIN=nutrimejor.example.com
ACME_EMAIL=operaciones@example.com
RUN_MIGRATIONS_ON_STARTUP=false
EXPOSE_DEVELOPMENT_TOKENS=false
