DEPLOY_ENVIRONMENT=test
IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=ruben-d55
IMAGE_TAG=v0.10.0
APP_URL=http://localhost:3100
WEB_PORT=3100
GATEWAY_PORT=4180
RUN_MIGRATIONS_ON_STARTUP=false
EXPOSE_DEVELOPMENT_TOKENS=false
